h1 {
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 10px black;
  }

nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }

nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }

h2 {
    font-size: 3rem;
    text-align: center;
  }

main, header, nav, article, aside, footer, section {
    background-color: rgb(243, 159, 23);
    padding: 1%;
  }


aside {
    flex: 1;
    margin-left: 10px;
    padding: 1%;
  }
  
aside a {
    display: block;
    float: left;
    width: 50%;
  }

footer {
    margin-top: 10px;
  }
  