html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
html {
    font-size: 10px;
    background-color: rgb(243, 159, 23);
}
  
body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 10px black;
}

nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
}

nav li {
    display: inline;
    text-align: center;
    flex: 1;
}

h2 {
    font-size: 3rem;
    text-align: center;
}


main {
    display: flex;
}

div {
    flex: 1;
}

aside {
    flex: 1;
    margin-left: 10px;
    padding: 1%;
}
  
aside li {
    display: block;
    float: left;
    width: 50%;
}

  